In [1]:
x = 20
print(" I am ", x, "years old")

 I am  20 years old

In [2]:
age = 20
print(f'I am {age}years old')

I am 20years old

In [3]:
l = 'Python'
v = '3.8'
print(f"I am learning {l} version {v}")

I am learning Python version 3.8

In [4]:
price = 199.99
print(f"This costs {price}")

This costs 199.99

In [8]:
Price = 34.99
weight = 20
print(f"Price: ${Price}. Weight:{weight}lbs")

Price: $34.99. Weight:20lbs

In [11]:
pi = 3.1415926535
print(f"pi:{pi:.2f}")

pi:3.14

In [12]:
print(pi:.2f)

SyntaxError: invalid syntax (<ipython-input-12-14855bd9ea55>, line 1)

In [17]:
version = str("1.0.1")
x = ("----------------------------------------")
y = ("----------------------------------------")
print(f"{x}\n version: {version}\n{y}")

----------------------------------------
 version: 1.0.1
----------------------------------------

In [18]:
version = str("1.0.1")
x = '-'*40

print(f"{x}\n version: {version}\n{x}")

----------------------------------------
 version: 1.0.1
----------------------------------------

In [20]:
a = ('author: johnsmith@sample.com')
d = ('date:01-01-2021')
x = "="*40
print(f'{x}\n {a} \n {d} \n {x}')

========================================
 author: johnsmith@sample.com
 date:01-01-2021
 ========================================

In [23]:
sep = '#'
print(f'summer{sep}time{sep}holiday')

summer#time#holiday

In [24]:
print('summer', 'time', 'holiday', sep='#')

summer#time#holiday

In [26]:
print('summer', 'time', 'holiday', sep = '#')

summer#time#holiday

In [30]:
radius = 5
pi = 3.1423
area = pi * radius**2
print(f'area is{area:.2f}.')

area is78.56.

In [40]:
x = 3.45678
y=round(x,2)
print(y)

3.46

In [53]:
n = int(input('enter the number of items in the sequence'))
lst = []
for i in range(1,n):
        x = 10+4*i
        print(f'a({i}) = {x}')
        lst.append(x)
print(lst)
z = sum(lst)
print(f'The sum of the first {n} elements in the sequence is {z}')

enter the number of items in the sequence11
a(1) = 14
a(2) = 18
a(3) = 22
a(4) = 26
a(5) = 30
a(6) = 34
a(7) = 38
a(8) = 42
a(9) = 46
a(10) = 50
[14, 18, 22, 26, 30, 34, 38, 42, 46, 50]
The sum of the first 11 elements in the sequence is 320

In [55]:
a1 = 14
a10 = 50
s = ((a1+a10)/2)*10
print(f'sum is {s}')

sum is 320.0

In [56]:
n = int(input('enter the number of items in the sequence'))
lst = []
for i in range(1,n):
        x = 8*(2**i-1)
        print(f'a({i}) = {x}')
        lst.append(x)
print(lst)
z = sum(lst)
print(f'The sum of the first {n} elements in the sequence is {z}')

enter the number of items in the sequence6
a(1) = 8
a(2) = 24
a(3) = 56
a(4) = 120
a(5) = 248
[8, 24, 56, 120, 248]
The sum of the first 6 elements in the sequence is 456

In [60]:
a1 = int(input('enter x coordinate of A: '))
a2 = int(input('enter y coordinate of A: '))
b1 = int(input('enter x coordinate of B: '))
b2 = int(input('enter x coordinate of B: '))
m_x = (a1+b1)/2
m_y = (a2+b2)/2
print(f'the coordinate of the middle point is ({m_x},{m_y})')

enter x coordinate of A: 6
enter y coordinate of A: 10
enter x coordinate of B: 12
enter x coordinate of B: 20
the coordinate of the middle point is (9.0,15.0)

In [61]:
x1,x2,x3,x4 = 4,3,4.5,5
gm = (x1*x2*x3*x4)**(1/4)
print(f'geometric mean is {gm}')

geometric mean is 4.053600464421103

In [84]:
#an infinite geometric sequence is given by 1,1/2,1/4/1/8....
#find its sum. Sum = 2
a1 = 1 
a2 = 1/2
q = a2/a1
s = a1/(1-q)
print(s)

2.0

In [90]:
import numpy as np
lst = [10,11,9]
y = np.std(lst)
print(y)

0.816496580927726

In [97]:
file_name = 'view.jpg'
print(file_name[-4:])

.jpg

In [105]:
string = 'pkv-89415-pln'
code = string[0:3] +" "+ string[-3:]
print(code)

pkv pln

In [111]:
string = '1 0     0 1 0 1'
u = "".join(string.split())
print(u)

100101

In [112]:
string = '1 0     0 1 0 1'
u = string.split()

['1', '0', '0', '1', '0', '1']

In [115]:
v = "".join(u)
print(v)

100101

In [119]:
string = "1 0 2 3 4 5"
v = "".join(string.split())

In [120]:
print(v)

102345

In [126]:
lst = ['1', '2','3', '4', '5']
print(','.join(lst))

1,2,3,4,5

In [130]:
x = "1   6     7      3 4    5   6 8 7 9"
y = x.split()
print(y)
print("".join(y))

['1', '6', '7', '3', '4', '5', '6', '8', '7', '9']
1673456879

In [131]:
z = "1  2   3  4 5    0 0    0    6   07    4  4"
p = z.split()
print(''.join(p))

1234500060744

In [137]:
#reverse the order of the characters
text = 'python course'
y = reversed(text)
for i in (y):
    print(i, end=" ")

e s r u o c   n o h t y p

In [143]:
text = 'python course'
print(text[2::3])

tnos

In [147]:
var1 = "x"
var2 = "xx "
var3 = "s\n"
print(type(var1))
print(type(var2))
print(type(var3))

<class 'str'>
<class 'str'>
<class 'str'>

In [148]:
var1 = None
var2 = False
Var3 = 'True'
print(type(var1))
print(type(var2))
print(type(var3))

<class 'NoneType'>
<class 'bool'>
<class 'str'>

In [149]:
Flag = False
type(Flag)

bool

In [150]:
Flag = False
print(isinstance(Flag, bool))

True

In [160]:
text = 'python is a popular programming language'
y = text.split()
print(y)
for i in y:
    print(i.capitalize(), end =" ")

['python', 'is', 'a', 'popular', 'programming', 'language']
Python Is A Popular Programming Language

In [163]:
text = 'python is a popular programming language'
count=0
for i in text:
    if i=='p':
        count+=1
    else:
        pass
print(count)

4

In [168]:
text = 'python is a popular programming language'
print('number of occurences of "p" is: ',text.count('p'))
print(f'number of occurences of "p" is: {text.count("p")}')

number of occurences of "p" is:  4
number of occurences of "p" is: 4

In [172]:
code1 = 'FVNISJND-XX-2020'
code2 = 'FVNISJND-XY-2019'
y = code1.split('-')
z = code2.split('-')
print(y)
print(z)
for i in y:
    if i=='2020':
        print('yes "2020" is present in code1')
    else:
        pass
for j in z:
    if j=='2020':
        print('yes "2020" is present in code1')
    else:
        pass

['FVNISJND', 'XX', '2020']
['FVNISJND', 'XY', '2019']
yes "2020" is present in code1

In [174]:
code1 = 'FVNISJND-XX-2020'
code2 = 'FVNISJND-XY-2019'
if code1.endswith('2020')==True:
    print('yes "2020" is present in code1')
if code2.endswith('2020')==True:
    print('yes "2020" is present in code2')

yes "2020" is present in code1

In [175]:
path1 = 'youtube.com/watch?v=5EhRztVxums'
path2 = 'google.com/search?q=car'
if path1.startswith('youtube')==True:
    print('yes path1 is for you tube')
if path2.startswith('youtube')==True:
    print('yes path2 is for you tube')

yes path1 is for you tube

In [179]:
path1 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
path2 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-deep-learning-engineer'
path3 = 'https://e-smartdata.teachable.com/p/sciezka-bi-analyst-data-analyst'
s = 'scientist'
if s in path1:
    print(f'yes "{s}" is in path 1')
if s in path2:
    print(f'yes "{s}" is in path 2')
if s in path3:
    print(f'yes "{s}" is in path 3')

yes "scientist" is in path 1
yes "scientist" is in path 2

In [187]:
path1 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
path2 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-deep-learning-engineer'
path3 = 'https://e-smartdata.teachable.com/p/sciezka-bi-analyst-data-analyst'
print(f'path1:{path1.find("scientist")}')
print(f'path2:{path2.find("scientist")}')
print(f'path3:{path3.find("scientist")}')

path1:49
path2:49
path3:-1

In [191]:
x = "Hello baba. How are you. take care of your health. I miss you."
print(x.find('baba'))

6

In [193]:
code1 = 'FVNISJND-20'
code2 = 'FVNISJND20'
code1.isalnum()
code2.isalnum()

True

In [194]:
text = 'Google Colab'
text.lower()

'google colab'

In [195]:
text = '  Google Colab   '
print(text.strip())

Google Colab

In [198]:
code = 'FVNISJND-XX'
print(code.replace('-',"  *  "))

FVNISJND  *  XX

In [202]:
text = '340-23-245-235'
print(text.replace('-',""))

34023245235

In [210]:
text = 'Open,High,Low,Close'
x = text.split(',')
print(x)

['Open', 'High', 'Low', 'Close']

In [221]:
text = """Python is a general-purpose language.
Python is popular.
how is it?"""
x = text.splitlines()
print(x)

['Python is a general-purpose language.', 'Python is popular.', 'how is it?']

In [228]:
num = 34
print(str(num).zfill(6))

000034

In [246]:
url = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
name = url.split('/')[-1]
name = name.replace('-',' ')
print(name)

sciezka data scientist machine learning engineer

In [240]:
url = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
name = url.replace('/','')
# name = name.replace('-',' ')
print(name)

https:e-smartdata.teachable.compsciezka-data-scientist-machine-learning-engineer

In [251]:
#sets
subjects = {'mathematics', 'biology'}
subjects.add('english')
print(subjects)

{'mathematics', 'english', 'biology'}

In [258]:
text = 'Programming in python.'
vowels = {'a', 'e', 'i', 'o', 'u'}
text = text.lower()
print(text)
text = text.replace(" ","")
text = text.replace('.','')
letters = set(text)
print(letters)
consonants = letters.difference(vowels)
print(len(consonants))

programming in python.
{'p', 'g', 'n', 'a', 'm', 'i', 'h', 'o', 'y', 't', 'r'}
8

In [261]:
text = 'Programming in python.'
vowels = {'a', 'e', 'i', 'o', 'u'}
text = text.lower()
print(text)
text = text.replace(" ","")
text = text.replace('.','')
letters = set(text)
print(letters)
for i in letters:
    if i in vowels:
        pass
    else:
        print(i, end=", ")

programming in python.
{'p', 'g', 'n', 'a', 'm', 'i', 'h', 'o', 'y', 't', 'r'}
p, g, n, m, h, y, t, r,

In [263]:
A = {2, 4, 6, 8}
B = {4, 10}
y = A.symmetric_difference(B)
print(y)

{2, 6, 8, 10}

In [264]:
ad1_id = {'001', '002', '003'}
ad2_id = {'002', '003', '007'}
y = ad1_id.symmetric_difference(ad2_id)
print(y)

{'001', '007'}

In [266]:
is_clicked = {'9001', '9002', '9005'}
is_bought = {'9002', '9004', '9005'}
y = is_clicked.intersection(is_bought)
print(y)

{'9002', '9005'}

# Tuples

In [272]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')
x = (dji1,dji2)
print(x)

(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

In [273]:
#tuples are immutable

In [282]:
members = (('Kate', 23), ('Tom', 19))
new_tup = (members[0], ('john',26), members[1])
print(new_tup)

(('Kate', 23), ('john', 26), ('Tom', 19))

In [284]:
default = ('YES', 'NO', 'NO', 'YES', 'NO')
default.count('YES')

2

In [288]:
names = ('Monica', 'Tom', 'John', 'Michael')
tuple(sorted(names))

('John', 'Michael', 'Monica', 'Tom')

In [292]:
names = ('Monica', 'Tom', 'John', 'Michael')
x = tuple(sorted(names))
print(x)

('John', 'Michael', 'Monica', 'Tom')

In [296]:
info = (('Monica', 19), ('Tom', 21), ('John', 18))
ass = tuple(sorted(info))
des = tuple(sorted(info, reverse = True))
print(ass)
print(des)

(('John', 18), ('Monica', 19), ('Tom', 21))
(('Tom', 21), ('Monica', 19), ('John', 18))

In [297]:
stocks = (('Apple Inc', ('AAPL.US', 310)), ('Microsoft Corp', ('MSFT.US', 184)))
print(stocks[0][1][0])

AAPL.US