# Understand functions

In [5]:
#this is a simple repreentation of functions
def hw():
    print('hello world')
hw()
hw()
hw()

hello world
hello world
hello world

In [6]:
def cube(x):
    cube_of_x = x*x*x
    print(cube_of_x)

In [7]:
cube(3)

27

In [8]:
cube(5)

125

In [ ]:
#write a function to findout factorial of any number.

In [11]:
n = int(input('enter a number for which you want to calculate factorial'))
def factorial(x):
    prod = 1
    for i in range(x):
        prod = prod*(i+1)
    print('factorial of ', n ,' is ', prod)
factorial(n)

enter a number for which you want to calculate factorial4
factorial of  4  is  24

In [14]:
def submission(*args):
    print(args)
    return(sum(args))

In [15]:
submission(1,2,3,4)

(1, 2, 3, 4)

10

In [16]:
x = 'teclov'
y = 'geeks hub'
x,y

('teclov', 'geeks hub')

In [17]:
len(x), len(y)

(6, 9)

In [18]:
x.upper()

'TECLOV'

In [20]:
z='HYTHY'
z.lower()

'hythy'

In [25]:
some_sentence = 'Hello. Hi are you '
print(len(some_sentence))
print(len(some_sentence.rstrip()))

18
17

In [28]:
i = '4%'
print(i.rstrip('%'))

4

In [32]:
# if there is a space at the begining then use lstrip
i = "   hello"
print(len(i))
print(len(i.lstrip()))

8
5

In [33]:
val = '*444#'
print(val.lstrip('*').rstrip('#'))

444

In [35]:
val2 = '44*44'
print(val2.rstrip('*'))

44*44

In [37]:
val2.replace("*","")
print(val2)

44*44

In [51]:
languages = ['sas','python','scala','r','c++']
print(languages[2:4])
print(languages[2:])
print(languages[:2])
languages.append('ml')
print(languages)
languages.pop(3)
print(languages)
languages.remove('python')
print(languages)
print(id(languages))

['scala', 'r']
['scala', 'r', 'c++']
['sas', 'python']
['sas', 'python', 'scala', 'r', 'c++', 'ml']
['sas', 'python', 'scala', 'c++', 'ml']
['sas', 'scala', 'c++', 'ml']
2265361042496

In [54]:
mail = 'Hi. you are doing an awsome job. Keep it up.'
words = mail.split()
print(words)

['Hi.', 'you', 'are', 'doing', 'an', 'awsome', 'job.', 'Keep', 'it', 'up.']

In [56]:
lst = 'tec'
lst2 = 'tic'
print(lst+lst2)

tectic

In [60]:
n = [[1,2,3,4],[3,4,5,6],[7,8,9,10]]
print(n[1][2])

5

In [64]:
n = ['ram','shyam','golu']
print(n[1][2])

y

# Tuples

In [72]:
# a tuple can not be modified. In complex codes use of tuples eliminates 
#the possiblity of accidnetally deleting or altering the date
first = (30,'tuple', 45)
print(first[0])
print(type(first))
second = list(first)
print(second)
second[0] = 60
first = tuple(second)
print(first)

30
<class 'tuple'>
[30, 'tuple', 45]
(60, 'tuple', 45)

In [73]:
new = 'hi', 543, 123
type(new)

tuple

In [74]:
new2 =(1,2,3,4,5)

In [75]:
new3 = new,new2

In [76]:
print(new3) #(nested tuple/composite tuple)

(('hi', 543, 123), (1, 2, 3, 4, 5))

In [77]:
#list inside a tuple
tup = ([1,2,3],[4,5,6])

In [80]:
tup[0][1]=5
print(tup)

([1, 5, 3], [4, 5, 6])

# Lets discuss sets

In [81]:
set ={1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [96]:
my_lst = ['A','A','B','D']

x = set(my_lst)

TypeError: 'set' object is not callable

In [97]:
set1 = {'a','a','b','c','c','d','e'}
set2 = {'b','c','d','g','h','i'}
new_set = set1.union(set2)
print(new_set)

{'b', 'h', 'd', 'c', 'e', 'i', 'g', 'a'}

In [98]:
new_set2 = set1.intersection(set2)
print(new_set2)

{'b', 'd', 'c'}

In [100]:
new_set3 = set1.difference(set2)
print(new_set3)

{'e', 'a'}

In [101]:
'a' in new_set3

True

In [102]:
'b' in new_set3

False

In [103]:
new_set3.add('b')
print(new_set3)

{'e', 'b', 'a'}

In [104]:
new_set3.remove('b')
print(new_set3)

{'e', 'a'}

In [115]:
new_set4 = {'a','b','c','d','e','f','g','h'}
new_set5 = {'b','c','d'}

In [116]:
for i in new_set4:
    print(i)

b
h
g
d
c
e
f
a

In [117]:
new_set5.issubset(new_set4)

True

In [119]:
new_set4.symmetric_difference(new_set5)

{'a', 'e', 'f', 'g', 'h'}

# lets understand dictionaries

In [121]:
empty_dict = {}
#dictionaries have key and value pairs.
#practical use of dictionary: 
print(type(empty_dict))

<class 'dict'>

In [122]:
d= {
    "actor":'Amir',
    "animal":'cat',
    "earth": 2,
    "list":[1,2,3]
    
}

In [123]:
print(d)

{'actor': 'Amir', 'animal': 'cat', 'earth': 2, 'list': [1, 2, 3]}

In [128]:
print(d['actor'])

Amir

In [129]:
d['actor'] = 'srk'

In [130]:
print(d)

{'actor': 'srk', 'animal': 'cat', 'earth': 2, 'list': [1, 2, 3]}

In [134]:
print(d['animal'])

cat

In [139]:
age=d.get('list')
print(age)

[1, 2, 3]

In [140]:
d['proffesion']='actor'

In [141]:
print(d)

{'actor': 'srk', 'animal': 'cat', 'earth': 2, 'list': [1, 2, 3], 'proffesion': 'actor'}

In [142]:
print('actor' in d)

True

In [145]:
print(list(d.keys()))
print(list(d.values()))

['actor', 'animal', 'earth', 'list', 'proffesion']
['srk', 'cat', 2, [1, 2, 3], 'actor']

In [146]:
new = dict(country='india', songs = ['blue eyes', 'party'])
d.update(new)
print(d)

{'actor': 'srk', 'animal': 'cat', 'earth': 2, 'list': [1, 2, 3], 'proffesion': 'actor', 'country': 'india', 'songs': ['blue eyes', 'party']}

In [147]:
del d ['songs']
print(d)

{'actor': 'srk', 'animal': 'cat', 'earth': 2, 'list': [1, 2, 3], 'proffesion': 'actor', 'country': 'india'}

In [148]:
d[6]=['teclov',22]
print(d)

{'actor': 'srk', 'animal': 'cat', 'earth': 2, 'list': [1, 2, 3], 'proffesion': 'actor', 'country': 'india', 6: ['teclov', 22]}