In [3]:
#task 43: if user enters first number 5 and last number 10 then the code should print all numbers 5 to 10
x = int(input('enter the first number'))
y = int(input('enter the last number'))

for i in range(x,y+1):
    print(i)

enter the first number3
enter the last number9
3
4
5
6
7
8
9

In [15]:
# display 1 to 100 with 4 number difference
for i in range (1,25):
    print(4*i)

4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96

In [17]:
for i in range(1,100,4):
    print(i)

1
5
9
13
17
21
25
29
33
37
41
45
49
53
57
61
65
69
73
77
81
85
89
93
97

In [27]:
#task 44:user input 10 and 5, then display all numbers from 10 to 5
x = int(input('enter a number'))
y = int(input('enter a number'))
z = max(x,y)
p = min(x,y)
print('largest is', z)
print('smallest is ', p)
n = reversed(range(p,z))
for i in (n):
    print(i)

enter a number48
enter a number67
largest is 67
smallest is  48
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48

In [31]:
# the above task can also be done as follows.
x = int(input('enter a number'))
y = int(input('enter a number'))
z = max(x,y)
p = min(x,y)
print('largest is', z)
print('smallest is ', p)
for i in range(z,p-1,-1):
    print(i)

enter a number23
enter a number15
largest is 23
smallest is  15
23
22
21
20
19
18
17
16
15

In [40]:
# task 45: display number from 1 to 30. only odd numbers
x = int(input('enter a number'))
y = int(input('enter another number'))

for i in range(x,y,2):
    print(i)

enter a number1
enter another number30
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [42]:
x = int(input('enter a number'))
y = int(input('enter another number'))

for i in range(x,y):
    if i%2!=0:
        print(i)
    else:
        pass

enter a number5
enter another number20
5
7
9
11
13
15
17
19

In [46]:
# write a python program to display numbers from 1 to 30 only even numbers
for i in range(1,31):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [55]:
# task 46: get 5 subject marks from user and then store them to array
# also get student name, find total and also get each subject's mark
#the 5 subjects are english, math, ai, physics, computer

import array as arr
user = input('enter your name: ')
a= arr.array('i',[])
for i in range(5):
       a.append(int(input('enter subject marks: ')))
total = 0
for i in range(5):
    total = total+a[i]
print('your total mark is', total)

enter your name: Utkal
enter subject marks: 23
enter subject marks: 21
enter subject marks: 22
enter subject marks: 23
enter subject marks: 24
your total mark is 113

In [73]:
# task 47:get two numbers from user, find their square, and then add the two numbers and display the result

x= int(input('enter a number: '))
y= int(input('enter another number: '))
i = x*x
j = y*y
print(' x square is :', i)
print('y square is : ', j)
print('the sum of x sq and y sq is: ', i+j)

enter a number: 23
enter another number: 21
 x square is : 529
y square is :  441
the sum of x sq and y sq is:  970

In [79]:
# task 48: get two values from user, swap both values and display the new values

x = int(input('enter a value'))
y = int(input('enter a value'))
z=x
print('x=',x)
print('y=',y)
x=y
y=z
print('x=',x)
print('y=',y)

enter a value2
enter a value3
x= 2
y= 3
x= 3
y= 2

In [81]:
#49: convert hour to seconds
h = int(input('enter how many hours: '))
s = 3600*h
print(h, ' hour is ', s, 'seconds')
# similarly, we can convert seconds to hours.

enter how many hours: 3
3  hour is  10800 seconds

In [95]:
#task 50: find area of a triangle using 1/2*base*height and s(s-a)(s-b)(s-c)
base = float(input('enter the measure of the base: '))
height = float(input('enter the measure of the height: '))
area = (1/2)*(base*height)
print('area is', area)

enter the measure of the base: 3
enter the measure of the height: 4
area is 6.0

In [88]:
b= int(input('enter base'))
h=int(input('enter height'))
a=(b*h)/2
print(a)

enter base3
enter height4
6.0

In [101]:
import math
a = float(input('enter the value of side a: '))
b = float(input('enter the value of side b: '))
c = float(input('enter the value of side c: '))
s = (a+b+c)/2
A = math.sqrt(s*(s-a)*(s-b)*(s-c))
print('area is: ',A)

enter the value of side a: 3
enter the value of side b: 4
enter the value of side c: 5
area is:  6.0

In [102]:
import math
a = float(input('enter the value of side a: '))
b = float(input('enter the value of side b: '))
c = float(input('enter the value of side c: '))
s = (a+b+c)/2
A = math.sqrt(s*(s-a)*(s-b)*(s-c))
print('area is: ',A)
num = float(input('enter a number'))
z = num*num
print(A+z)

enter the value of side a: 3
enter the value of side b: 4
enter the value of side c: 5
area is:  6.0
enter a number2
10.0

In [108]:
#task 51: write a code to find the number of days between two dates
from datetime import datetime
date_1 = input('enter first date')
date_2 = input('enter second date')
date_format = "%m/%d/%Y"
d1=datetime.strptime(date_1, date_format)
d2=datetime.strptime(date_2, date_format)
diff = d2-d1
print(diff.days)

enter first date05/25/2000
enter second date07/25/2001
426