In [65]:
#task 60: write a program to input 5 author names with their book names.Display last author with its book name

#create an empty disctionary
author_books = {}
for i in range(6):
    author_name = input('enter author name')
    book_name = input('enter book name')
    author_books[author_name] = book_name
print(author_books)
print(list(author_books.keys())[-1], end = "")
print(list(author_books.values())[-1])

enter author nameer
enter book namere
enter author namewe
enter book nameew
enter author namesd
enter book namess
enter author namedd
enter book namedd
enter author nameff
enter book namedd
enter author nameffd
enter book namess
{'er': 're', 'we': 'ew', 'sd': 'ss', 'dd': 'dd', 'ff': 'dd', 'ffd': 'ss'}
ffdss

# lets practice some dictionary function

In [3]:
students = {"name":"utkal", "age":'32', 'city':'montreal'}
print(students)

{'name': 'utkal', 'age': '32', 'city': 'montreal'}

In [6]:
students['name'] = 'raja'
print(students)

{'name': 'raja', 'age': '32', 'city': 'montreal'}

In [9]:
students.update({'name':'bob'})
print(students)

{'name': 'bob', 'age': '32', 'city': 'montreal'}

In [10]:
students['nick_name'] = 'raja'
print(students)

{'name': 'bob', 'age': '32', 'city': 'montreal', 'nick_name': 'raja'}

In [11]:
students.update({'car':'chevy'})

In [12]:
print(students)

{'name': 'bob', 'age': '32', 'city': 'montreal', 'nick_name': 'raja', 'car': 'chevy'}

In [13]:
students.update({'courses':['math','science']})
print(students)

{'name': 'bob', 'age': '32', 'city': 'montreal', 'nick_name': 'raja', 'car': 'chevy', 'courses': ['math', 'science']}

In [19]:
students['city']+='-west'
print(students)

{'name': 'bob', 'age': '32', 'city': 'montrealwest-west-west', 'nick_name': 'raja', 'car': 'chevy', 'courses': ['math', 'science']}

In [20]:
students['name']+='-kumar'
print(students)

{'name': 'bob-kumar', 'age': '32', 'city': 'montrealwest-west-west', 'nick_name': 'raja', 'car': 'chevy', 'courses': ['math', 'science']}

In [22]:
students['name'] = 'utkal kumar'
students['city'] = 'montreal'
print(students)

{'name': 'utkal kumar', 'age': '32', 'city': 'montreal', 'nick_name': 'raja', 'car': 'chevy', 'courses': ['math', 'science']}

In [23]:
students.update({'city':'mumbai', 'age':30})
print(students)

{'name': 'utkal kumar', 'age': 30, 'city': 'mumbai', 'nick_name': 'raja', 'car': 'chevy', 'courses': ['math', 'science']}

In [25]:
students['courses'] += [ 'physics']
print(students)

{'name': 'utkal kumar', 'age': 30, 'city': 'mumbai', 'nick_name': 'raja', 'car': 'chevy', 'courses': ['math', 'science', 'physics']}

# Lets see the append method

In [27]:
#The append method only works with list objects
students[age].append = 32
print(students)

NameError: name 'age' is not defined

In [34]:
students['courses'].append('chemistry')
print(students)

{'name': 'utkal kumar', 'age': 30, 'city': 'mumbai', 'nick_name': 'raja', 'car': 'chevy', 'courses': ['math', 'science', 'physics', 'chemistry', 'chemistry']}

# use the extend method

In [35]:
students['courses'].extend(['mil', 'geography'])
print(students)

{'name': 'utkal kumar', 'age': 30, 'city': 'mumbai', 'nick_name': 'raja', 'car': 'chevy', 'courses': ['math', 'science', 'physics', 'chemistry', 'chemistry', 'mil', 'geography']}

In [37]:
##the extend method is useful only if we plan to add values to exisiting list items

# lets make a nested dictionary

In [50]:
d = {'david':{'math':70, 'physics':'75'},'mona':{'math':68, 'physics':'80'}}
print(d)
print(d['mona']['math'])

{'david': {'math': 70, 'physics': '75'}, 'mona': {'math': 68, 'physics': '80'}}
68

In [51]:
d['david']['physics'] = 60

In [52]:
print(d)

{'david': {'math': 70, 'physics': 60}, 'mona': {'math': 68, 'physics': '80'}}

In [59]:
d.pop('david')
print(d)

{'mona': {'math': 68, 'physics': '80'}}

In [60]:
students.pop('city')
print(students)

{'name': 'utkal kumar', 'age': 30, 'nick_name': 'raja', 'car': 'chevy', 'courses': ['math', 'science', 'physics', 'chemistry', 'chemistry', 'mil', 'geography']}

In [61]:
d.get('mona')

{'math': 68, 'physics': '80'}

In [62]:
d.clear()
print(d)

{}